<p>{{ article.title }}</p>
<p>Author: {{ article.author }} Published at : {{ article.published_at }}</p>
{% for tag in article.tags %}
    <p>{{ forloop.index }}- {{ tag }}</p>
{% endfor %}
{{ article.image | image_url: height: 500 | image_tag : preload: true }}
<hr>
{{ article.content }}

<hr>
<br>
<p>Comment Section</p>
{% form 'new_comment', article %}
    <ul>
        {% for error in form.errors %}
            <li>
                {% if error == 'form' %}
                    {{ form.errors.messages[error] }}
                {% else %}
                    {{ form.errors.translated_fields[error] }} - {{ form.errors.messages[error] }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <div class="name">
        <label for="name">Name</label>
        <input type="text" name="comment[author]" value="{{ form.author }}">
    </div>

    <div class="email">
        <label for="email">Email</label>
        <input type="email" name="comment[email]" value="{{ form.email }}">
    </div>

    <div class="comment">
        <label for="comment">Comment</label>
        <textarea name="comment[body]">{{ form.body }}</textarea>
    </div>

    <div class="submit">
        <input type="submit" value="Post">
    </div>
    {% if form.posted_successfully? %}
        <p>Thanks for your comment! It will appear once approved.</p>
    {% endif %}
{% endform %}
{% if article.comments.size > 0 %}
    <h3>All Comments:</h3>
    <ul>
        {% paginate article.comments by 2 %}
            {% for comment in article.comments %}
                <li>
                    <strong>{{ comment.author }}</strong> said:<br>
                    {{ comment.content }}
                </li>
            {% endfor %}

            {% if paginate.previous.is_link %}
                {{ paginate.previous.title | link_to: paginate.previous.url }}
                {% endif %}
            {% for part in paginate.parts %}
                 {% if part.is_link %}
                     <span>{{ part.title | link_to: part.url }}</span>
                     {% else %}
                <span>{{ part.title }}</span>
                {% endif %}
            {% endfor %}
            {% if paginate.next.is_link %}
                {{ paginate.next.title | link_to: paginate.next.url }}
            {% endif %}
        {% endpaginate %}

    </ul>
{% endif %}