{{ product.featured_image | image_url: width: 400 | image_tag }}<br>
{{ product.title }} - {{ product.price  | money_without_trailing_zeros }} - <span style="text-decoration-line: line-through;">{{ product.compare_at_price | money_without_trailing_zeros }}</span>
<p>Product in -
    {% for collection in product.collections %}
        <span>{{ collection.title }}</span>
        {% if forloop.rindex0 == 1 %}
            <span> and </span>
            {% continue %}
        {% elsif forloop.last  %}
            {% break %}

    {% endif %}
        <span>, </span>
    {% endfor %}
</p>
<p>Description:<br>{{ product.content }}</p>
<div
        x-data="{
    slides: [
      {% for array in product.images %}
      { imgSrc: '{{ array | image_url }}', imgAlt: 'nothing' },
      {% endfor %}
    ],
    currentSlideIndex: 1,
    previous() {
      this.currentSlideIndex = this.currentSlideIndex > 1 ? this.currentSlideIndex - 1 : this.slides.length
    },
    next() {
      this.currentSlideIndex = this.currentSlideIndex < this.slides.length ? this.currentSlideIndex + 1 : 1
    }
  }"
        class="relative w-full max-w-xl mx-auto aspect-16/10 overflow-hidden rounded-lg mb-16"
>

    <!-- Slides -->
    <div class="absolute inset-0">
        <template x-for="(slide, index) in slides" :key="index">
            <div x-show="currentSlideIndex === index + 1" x-transition.opacity.duration.1000ms class="absolute inset-0">
                <img :src="slide.imgSrc" :alt="slide.imgAlt" class="w-full h-full object-cover" />
            </div>
        </template>
    </div>

    <!-- Previous Button -->
    <button
            type="button"
            @click="previous()"
            class="absolute left-3 top-1/2 -translate-y-1/2 z-10 bg-white/40 dark:bg-neutral-950/40 text-neutral-600 dark:text-neutral-300 hover:bg-white/60 dark:hover:bg-neutral-950/60 rounded-full p-2"
    >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="3" class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
        </svg>
    </button>

    <!-- Next Button -->
    <button
            type="button"
            @click="next()"
            class="absolute right-3 top-1/2 -translate-y-1/2 z-10 bg-white/40 dark:bg-neutral-950/40 text-neutral-600 dark:text-neutral-300 hover:bg-white/60 dark:hover:bg-neutral-950/60 rounded-full p-2"
    >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="3" class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
        </svg>
    </button>

    <!-- Indicators -->
    <div
            class="absolute bottom-3 left-1/2 -translate-x-1/2 z-10 flex gap-2 px-2 py-1 bg-white/75 dark:bg-neutral-950/75 rounded"
            role="group"
            aria-label="slides"
    >
        <template x-for="(slide, index) in slides" :key="index">
            <button
                    @click="currentSlideIndex = index + 1"
                    :aria-label="'slide ' + (index + 1)"
                    :class="currentSlideIndex === index + 1
          ? 'bg-neutral-600 dark:bg-neutral-300'
          : 'bg-neutral-600/50 dark:bg-neutral-300/50'"
                    class="w-2 h-2 rounded-full transition"
            ></button>
        </template>
    </div>

</div>


<!-- Image Slider -->
<!-- An Alpine.js and Tailwind CSS component by https://pinemix.com -->
<div
        x-data="{
    // Images array
    images: [
      {% for image in product.images%}
    '{{ image | image_url }}',
{% endfor %}
    ],

    // Image Slider options
    arrowsNavigation: true,
    dotsNavigation: true,
    transition: 'blur-sm', // '' for no transition, 'fade', 'slide', 'blur-sm'
    loop: true,
    autoplay: false,
    autoplayDuration: 3000,
    autoplayProgressBar: true,

    // Helpers
    currentIndex: 0,
    autoplayInterval: null,
    autoplayTimer: null,
    autoplayProgress: 0,

    // Initialization
    init() {
      // Start all autoplay intervals
      this.startAutoplayInterval('all');
    },

    // Display specific image
    set(index, from) {
      // Check that the index is valid
      if (index > -1 && index < this.images.length) {
        // The image is after current one
        if (index > this.currentIndex) {
          this.currentIndex = index;

          // If we are already in the last image and loop is disabled
          if (!this.loop && this.currentIndex === this.images.length - 1) {
            // Reset all autoplay intervals and stop
            this.resetAutoplayInterval('all');
          } else {
            // If it is triggered by the navigation button
            if (from === 'button') {
              // Reset all autoplay interval and restart them
              this.resetAutoplayInterval('all', true);
            } else {
              // Reset autoplay timer interval and restart it
              this.resetAutoplayInterval('timer', true);
            }
          }
        } else if (index < this.currentIndex) { // Else if the image is before current one
          this.currentIndex = index;

          // If it is triggered by the navigation button
          if (from === 'button') {
            // Reset all autoplay interval and restart them
            this.resetAutoplayInterval('all', true);
          } else {
            // Reset autoplay timer interval and restart it
            this.resetAutoplayInterval('timer', true);
          }
        }
      }
    },

    // Display next image
    next(from) {
      // Stop the carousel loop when reaching the last image if loop is disabled
      if (!this.loop && this.currentIndex === this.images.length - 1) {
        return;
      }

      // Go to next image
      this.set((this.currentIndex + 1) % this.images.length, from);
    },

    // Display previous image
    previous(from) {
      // Stop the carousel loop when reaching the first image if loop is disabled
      if (!this.loop && this.currentIndex === 0) {
        return;
      }

      // Go to previous image
      this.set((this.currentIndex - 1 + this.images.length) % this.images.length, from);
    },

    // Start autoplay interval
    startAutoplayInterval(mode) {
      if (this.autoplay && (mode === 'all' || mode === 'interval')) {
        this.autoplayInterval = setInterval(() => this.next(), this.autoplayDuration);
      }

      if (this.autoplay && this.autoplayProgressBar && (mode === 'all' || mode === 'timer')) {
        this.autoplayProgressBar = false;
        this.autoplayProgress = 0;
        this.autoplayProgressBar = true;

        this.autoplayTimer = setInterval(() => {
          this.autoplayProgress += 100 / (this.autoplayDuration / 100);
        }, 100);
      }
    },

    // Reset autoplay timer
    resetAutoplayInterval(mode, restart) {
      if (this.autoplay && (mode === 'all' || mode === 'interval')) {
        clearInterval(this.autoplayInterval);

        if (restart && mode === 'interval') {
          this.startAutoplayInterval('interval');
        }
      }

      if (this.autoplay && this.autoplayProgressBar && (mode === 'all' || mode === 'timer')) {
        clearInterval(this.autoplayTimer);

        if (restart && mode === 'timer') {
          this.startAutoplayInterval('timer');
        } else if (!restart) {
          this.autoplayProgressBar = false;
          this.autoplayProgress = 0;
          this.autoplayProgressBar = true;
        }
      }

      if (restart && mode === 'all') {
        this.startAutoplayInterval('all');
      }
    },
  }"
        class="mx-auto w-full max-w-xl"
>
    <!-- Image Slider Container -->
    <div
            class="relative overflow-hidden focus:outline-hidden focus-visible:ring-4 focus-visible:ring-teal-400/60"
            tabindex="0"
            x-on:keyup.right="next('button')"
            x-on:keyup.left="previous('button')"
    >
        <!-- Images -->
        <div
                class="aspect-16/10"
                role="region"
                aria-roledescription="carousel"
                aria-label="Image Slider"
        >
            <template x-for="(image, index) in images" x-bind:key="index">
                <img
                        x-bind:src="image"
                        x-bind:alt="`Image ${index + 1}`"
                        class="absolute start-0 top-0 h-full w-full object-cover"
                        x-bind:class="{
            'transition duration-300 ease-in-out will-change-auto': transition,
            'z-1': currentIndex === index,
            'hidden': !transition && currentIndex !== index,
            'opacity-100': (transition === 'fade' || transition === 'blur-sm')  && currentIndex === index,
            'opacity-0 invisible': transition === 'fade' && currentIndex !== index,
            'blur-xl opacity-0': transition === 'blur-sm' && currentIndex !== index,
            'translate-x-0': transition === 'slide' && currentIndex === index,
            '-translate-x-full': transition === 'slide' && currentIndex > index,
            'translate-x-full': transition === 'slide' && currentIndex < index
          }"
                        role="group"
                        aria-roledescription="slide"
                        x-bind:aria-label="`Image slide ${index + 1} of ${images.length}`"
                        x-bind:aria-hidden="currentIndex !== index"
                />
            </template>
        </div>
        <!-- END Images -->

        <!-- Previous Button -->
        <button
                x-cloak
                x-show="arrowsNavigation && !(!loop && currentIndex === 0)"
                x-on:click="previous('button')"
                type="button"
                class="group absolute -start-1 top-1/2 z-10 flex -translate-y-1/2 items-center rounded-e-md bg-zinc-900/60 py-5 ps-3 pe-2 text-white backdrop-blur-xs transition duration-150 ease-out hover:start-0 hover:bg-zinc-900/90 active:bg-zinc-900/75"
                aria-label="Previous Image Slide"
        >
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="hi-mini hi-chevron-left inline-block size-5 rtl:rotate-180"
            >
                <path
                        fill-rule="evenodd"
                        d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z"
                        clip-rule="evenodd"
                />
            </svg>
            <span class="sr-only">Previous</span>
        </button>
        <!-- END Previous Button -->

        <!-- Next Button -->
        <button
                x-cloak
                x-show="arrowsNavigation && !(!loop && currentIndex === images.length - 1)"
                x-on:click="next('button')"
                type="button"
                class="group absolute -end-1 top-1/2 z-10 flex -translate-y-1/2 items-center rounded-s-md bg-zinc-900/60 py-5 ps-2 pe-3 text-white backdrop-blur-xs transition duration-150 ease-out hover:end-0 hover:bg-zinc-900/90 active:bg-zinc-900/75"
                aria-label="Next Image Slide"
        >
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="hi-mini hi-chevron-right inline-block size-5 rtl:rotate-180"
            >
                <path
                        fill-rule="evenodd"
                        d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
                        clip-rule="evenodd"
                />
            </svg>
            <span class="sr-only">Next</span>
        </button>
        <!-- END Next Button -->

        <!-- Progress Bar -->
        <div
                x-cloak
                x-show="autoplayProgressBar"
                class="absolute inset-x-0 bottom-0 z-10 h-1 w-full overflow-hidden"
                role="progressbar"
                aria-valuemin="0"
                aria-valuemax="100"
                x-bind:aria-valuenow="Math.round(autoplayProgress)"
                x-bind:aria-valuetext="`${Math.round(autoplayProgress)}% progress to next image slide`"
        >
            <div
                    class="h-full bg-teal-500 transition-all duration-100 ease-linear"
                    :style="{ width: `${autoplayProgress}%` }"
            ></div>
        </div>
        <!-- END Progress Bar -->
    </div>
    <!-- END Image Slider Container -->

    <!-- Dots Navigation -->
    <div
            x-cloak
            x-show="dotsNavigation"
            class="flex flex-wrap justify-center gap-3 py-4"
    >
        <template x-for="(image, index) in images" x-bind:key="index">
            <button
                    x-on:click="set(index, 'button')"
                    type="button"
                    class="size-2.5 rounded-full"
                    x-bind:class="{
          'bg-zinc-700 dark:bg-zinc-300': currentIndex === index,
          'bg-zinc-200 hover:bg-zinc-300 dark:bg-zinc-700 dark:hover:bg-zinc-600 dark:ring-zinc-800 hover:ring-4 ring-zinc-100': currentIndex !== index
        }"
            ></button>
        </template>
    </div>
    <!-- END Dots Navigation -->
</div>
<!-- END Image Slider -->



{% if product.options.size > 0 -%}


    {% for option in product.options_with_values %}
        {{ option.name }}
        {% for value in option.values %}
            {{ value }}
        {% endfor %}
    {% endfor %}
{%- endif %}

















